<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

        * {
            font-family: 'Mitr', sans-serif;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center; /* Center content vertically */
            align-items: center; /* Center content horizontally */
            min-height: 20vh;
            margin: 0;
        }

        .content {
            flex: 1;
        }

        footer {
            flex-shrink: 0;
        }
    </style>
</head>

<body>
    <form action="/recept" method="get">
        <h1>รายละเอียดการสั่งซื้อ</h1>
        <div class="form-group">
            <p class="card-text">จัดส่งคุณ : <%= payment[0].payname %></p>
            <p class="card-text">ที่อยู่ในการจัดส่ง : <%= payment[0].payaddress %></p>
            <p class="card-text">เบอร์ติดต่อ: <%= payment[0].paytel %></p>
            <p class="card-text">จำนวนยอดที่ชำระ : <%= payment[0].totalall %> บาท</p>

            <input type="hidden" name="PayName" value="<%= payment[0].payname %>">
            <input type="hidden" name="PayAddress" value="<%= payment[0].payaddress %>">
            <input type="hidden" name="PaymentID" value="<%= payment[0].payment_id %>">
            <input type="hidden" name="TotalAll" value="<%= payment[0].totalall %>">
            <input type="hidden" name="customerID" value="<%= payment[0].customer_id %>">

            <% for (let i=0; i < products.length; i++) { %>
                <input type="hidden" name="ProductName" value="<%=  products[i].productName %>">
                <input type="hidden" name="Quantity" value="<%=  products[i].Quantity %>">
                <input type="hidden" name="SubTotalPrice" value="<%=  products[i].SubTotalPrice  %>">
            <% } %>

            <button type="submit" class="btn btn-primary">ใบเสร็จการชำระเงิน</button>
        </div>
    </form>
</body>

</html>
