<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylenevbarCustomer.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Add custom styles for the navigation bar and search bar */

    .search-container {
      float: right;
      margin-right: 10px;
    }

    .search-container input[type="text"] {
      padding: 6px;
      border: none;
      width: 200px;
    }

    .search-container button {
      padding: 6px 10px;
      background: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    /* Add custom styles for the main content */
    .main-content {
      padding: 20px;
      text-align: center;
    }
  </style>
  <style>
    .left-aligned-text {
      text-align: left;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
        <li><a href="/customer/productsFrom">Products</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
</body>

<!-- Payment form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 payment-form">
      <h2>ชำระเงิน</h2>
      <form action="/payment/<%= customerID %>/<%= totalAll %>" enctype="multipart/form-data" method="POST">
        <div class="form-group">
          <label for="name">ชื่อ-สกุล ผู้รับ</label>
          <input type="text" class="form-control" id="name" name="payname" required>
        </div>
        <div class="form-group">
          <label for="address">ที่อยู่ในการจัดส่ง</label>
          <input type="text" class="form-control" id="address" name="payaddress" required>
        </div>
        <div class="form-group">
          <label for="phone">เบอร์โทรศัพท์</label>
          <input type="tel" class="form-control" id="phone" name="paytel" required>
        </div>
        <div class="form-group">
          <label for="amount">จำนวนเงิน</label>
          <input class="form-control" id="amount" value="<%= totalAll %>" required readonly disabled>
        </div>

        <div class="form-group">
          <label for="slip">สลิปโอนเงิน</label>
          <input type="file" class="form-control" id="slip" name="slippayment" accept="image/*" required>
        </div>

        <input type="hidden" name="customer_id" id="hiddencmID" value='<%= customerID %>'>
        <input type="hidden" name="totalall" id="hiddenTotalAll" value='<%= totalAll %>'>
        <button type="submit" class="btn btn-primary">ยืนยันข้อมูลชำระเงิน</button>
      </form>
    </div>
  </div>
</div>
</body>

</html>